<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

	<title></title>
</head>
<body>
<div class= container>
<br>
<br>
<h3>Book</h3>
<br><br>
<div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            
{% block content %}
<form class='book' action="" method="post" data-url='/book'  >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit" />
</form>
{% endblock %}
          </div>
        </div>
        

        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <table class="table" id="book-table">
    <thead>
      <tr>
       
        <th>Book Name</th>
        <th>Author</th>
        <th>Publication</th>
      </tr>
    </thead>
    <tbody>
    {% for book in book %}
    <tr>
          
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publication}}</td>
        </tr>
 {% endfor %}
    </tbody>
  </table>

          </div>
        </div>
      </div>
     </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var $myForm = $("book")
		$myForm.submit(function(event){
			console.log("form submitted!")
			var $formData = $(this).serialize()
			$.ajax({
				type = "POST",
				urt = "/book", 	 	
				data = $formData
			});
	});
});
</script>
</body>
</html>