<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <title>Home</title>
</head>
<body>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
          
          
          
        </ul>
        
      </div>
    </nav>
    </body>
    <br>
    <div class="container">
<h3></h3>
<br>
<div class="jumbotron">
        <h1>School Managment</h1>
        <p class="lead">asdfasd</p>
        <a class="btn btn-lg btn-primary" href="/studentReg" role="button">Student Registration </a>
        <a class="btn btn-lg btn-primary" href="/studentLog" role="button">Student Login</a>
        <a class="btn btn-lg btn-primary" href="/teacherLog" role="button">Teacher Login</a>
        <a class="btn btn-lg btn-primary" href="/teacherReg" role="button">Teacher Registration</a>
      </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</body>
</html>